
button {
  margin-bottom: 20px;
}
table#board {
  width: 600px;
  height: 600px;
  background-color: beige;
  border: 1px solid blue;
}

table#board td {
  border: 1px solid blue;
  width: 200px;
}

#text {
  background-color: aquamarine;
  font-size: large;
}