
body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin:0 auto;
  width:800px;
}

h1 {
  color: coral;
}

button {
  margin-bottom: 20px;
  padding:10px;
  background-color: coral;
  border-radius: 12px;
  width: 150px;
  height: 60x;
  font-size:large;
}

table#board {
  width: 600px;
  height: 600px;
  background-color: lightgrey;
  border: 1px solid blue;
  border-collapse: collapse;
}

table#board td {
  border: 3px solid coral;
  width: 200px;
  text-align: center;
}

#text {
  background-color: lightgray;
  font-size: large;
  font-weight: bold;
  width: 560px;
  height: 20px;
  margin-bottom:30px;
  padding: 20px;
}